* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.netflix-logo {
  width: 160px;
}

.language-drop-down {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.language-drop-down:focus {
  outline: none;
}

.dropdown-container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.signin-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.7rem;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-nav-items {
  display: flex;
  gap: 10px;
}

.bg-image-container {
  width: 100%;
  height: 80vh;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.card {
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 600;
  font-size: 1.7rem;
}

.subtitle,
.discription {
  font-weight: 400;
  font-size: 1rem;
}

.discription {
  margin: 0 50px;
}

.email-input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}

.form-container {
  background-color: white;
  width: 90%;
  height: 50px;
  position: relative;
}

.email_label {
  position: absolute;
  top: 28%;
  left: 2%;
  color: rgb(153, 149, 149);
  transition: 0.5s;
}

.email-form-_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.email-input:focus + .email_label {
  top: 0.2rem;
  font-size: 10px;
}

.email-input:not(:placeholder-shown).email-input:not(:focus) + .email_label {
  top: 0.2rem;
  font-size: 10 px;
}

.email-input:focus-visible {
  outline: none;
}

.primary-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.feature {
  border-top: 8px solid #222;
  padding: 2rem 1rem;
}

.feature-title {
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0;
}

.feature-sub-title {
  font-weight: 400;
  font-size: 15px;
}

.feature_details {
  text-align: center;
}

.feature-image-container {
  width: 100%;
  position: relative;
}

.feature_image {
  width: 100%;
}

.feature-background-video-container {
  position: absolute;
  width: 100%;
  top: 20%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  left: 13%;
  z-index: -2;
}

.feature-background-video {
  width: 100%;
}

.feature-2-poster-container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  max-width: 16em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 60px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}
.poster-container {
  width: 20%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.poster-details {
  width: 60%;
}

.poster-details > h4 {
  font-size: 13px;
  font-weight: 500;
}

.poster-details > h6 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(63, 63, 223);
}

.download-gif-container {
  width: 20%;
  height: 100%;
}

.gif {
  width: 100%;
  height: 100%;
}

.feature-3-background-video-container {
  max-width: 63%;
  max-height: 47%;
  z-index: -2;
  top: 9%;
  left: 19%;
}

.FAQ-list-container {
  border-top: 8px solid #222;
  padding: 2rem 0;
}

.accordian {
  width: 100%;
}

.FAQ-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}

.FAQ-visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: maxheight 0.5s ease-in-out;
}

.FAQ-visible > p {
  margin: 1rem;
}

.FAQ-Heading {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin: 1rem 3rem;
}

.FAQ_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ-get-started-email {
  text-align: center;
}

.FAQ-get-started-email > h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}

footer {
  border-top: 8px solid #333;
  padding: 2rem 1rem;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 9px;
  font-size: 12px;
}

.footer_row-2 :hover {
  cursor: pointer;
}

.footer_row-1 > h4 {
  font-size: 15px;
  font-weight: 500;
}

.footer_row-1 :hover {
  cursor: pointer;
}

.footer_row-3 > .dropdown-container {
  width: fit-content;
  border: 1px solid #757575;
  color: #757575;
}

.footer_row-3 :hover {
  cursor: pointer;
}

.footer_row-3 > .dropdown-container > .language-drop-down {
  color: #757575;
}

@media (min-width: 768px) {
  .bg-image-container {
    height: 100vh;
  }
  .bg-overlay {
    height: 100vh;
  }
  .card {
    top: 40%;
    left: 30%;
    transform: translate(-20%, -20%);
  }
  .title {
    font-size: 2rem;
  }
  .subtitle,
  .discription {
    font-size: 1.2rem;
  }
  .feature {
    padding: 4rem;
  }
  .feature-title {
    font-size: 35px;
  }
  .feature-sub-title {
    font-size: 20px;
  }
  .feature-2-poster-container {
    max-width: 26em;
    height: 85px;
  }
  .poster-container {
    width: 15%;
  }
  .download-gif-container {
    width: 3rem;
    height: 3rem;
  }
  .poster-details > h4 {
    font-size: 18px;
  }
  .poster-details > h4 {
    font-size: 14px;
  }
  .FAQ_list {
    padding: 1rem 5rem;
  }
  .FAQ-Heading {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .FAQ-title {
    font-size: 20px;
  }
  .FAQ-get-started-email {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(15%);
  }
  footer {
    align-items: flex-start;
    padding-left: 100px;
  }
  .footer_row-2 {
    justify-content: space-evenly;
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 2% 5%;
  }
  .navbar-brand {
    width: 150px;
  }
  .signin-button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .dropdown-container {
    padding: 10px 5px;
  }
  .navbar-nav-items {
    gap: 30px;
  }
  .card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-container {
    width: 50%;
  }
  .email-form-_container {
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }
  .primary-button {
    height: 50px;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .feature_details {
    text-align: left;
    padding: 0 6rem;
  }
  .feature-title {
    font-size: 50px;
  }
  .feature-sub-title {
    font-size: 25px;
  }

  .feature-image-container {
    max-width: 500px;
  }
  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }
  .feature-2-poster-container {
    max-width: 20em;
    height: 100px;
    padding: 1rem 1rem;
  }
  .poster-container {
    width: 20%;
  }
  .FAQ_list {
    padding: 1em 20rem;
  }
  .FAQ-title {
    padding: 25px 20px;
    cursor: pointer;
  }
  .FAQ-get-started-email {
    transform: translateX(16%);
  }
  .FAQ-get-started-email > .email-form-_container {
    padding: 0 70px;
  }
  footer {
    padding: 2rem 15rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .footer_row-2 {
    justify-content: space-around;
    gap: 100px;
  }
  .footer_row-1,
  .footer_row-3,
  .footer_row-4 {
    align-self: flex-start;
  }
}
